#main-dragon-details {
    width: 100vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: auto;

    h1 {
        text-align: center;
        margin: -7rem 0 1rem 0;
    }
}


