#dragons-list {
    max-width: 90vw;
    margin: auto; 
  
    ul {
        width: 100%; 
        
        list-style-type: none;
        
        display: flex;
        flex-wrap: wrap;
        justify-content:center;      
    }
    
    li {
        width: 30rem;
        border: 1px solid white;
        border-radius: 0.5rem;
        padding: 1.25rem;
        margin: 1rem 1rem 0 1rem;
        
        font-size: 1.75rem;
        text-align: left;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;    
    
        #dragon-name {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
    
            #dragon-head {
                height: 5rem;
                border-radius: 50%;
                margin-right: 0.8rem;
            }
        }    
    
        #buttons-list {
            width: 100%;
            display: flex;
            justify-content: flex-end;
    
            a, button {
                width: 4.9rem;                
                
                font-size: 1rem;
                letter-spacing: 0.08rem;
                font-weight: 300;
                text-shadow: black 0.1em 0.1em 0.2em;
                border-radius: 0.15rem;
            }

            .edit {
                background-color: #5d8aa8e7; 
                padding: 0.4rem;                            
    
                &:hover {
                    filter: brightness(0.85);
                }
            }
    
            .delete {
                background-color: #e32636ea;
                margin-left: 0.5rem;
    
                &:hover {
                    filter: brightness(0.85);
                }
            }
        }
    }
}

@media (min-width: 982px) {
    #dragons-list{
        max-width: 95vw;
    }
}

