footer {
    width: 100vw;
    background: rgba(0,0,0,0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

    p {
        margin-right: 0.5rem
    }

    a {
        font-size: 1.25rem;
        position: relative;

        &:active, &:visited {
            color: white;
        }

        svg {
            border-radius: 0.2rem;
            position: absolute;
            transform: translate(0, -50%);
        }
    }    
}