header {
    height: 10vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5rem;
    
    background: rgba(0,0,0,0.5);
    color: white;

    button {
        width: 5rem;  

        color: white;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0.2rem 0.5rem;
        background-color: #D97D34;
    }
}