#main-home {
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    width: 100vw;
    overflow: auto;

    #title {
        max-width: 90vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 1.5rem 0;
            padding: 0 0.5rem;
        }

        button {
            font-size: 1.85rem;
            font-weight: 600;
            text-shadow: black 0.1em 0.1em 0.2em;
            
            background-color: #af6dcc;
    
            padding: 0 0.65rem 0.25rem 0.65rem; 
            
            &:hover {
                filter: brightness(0.8);
            }
        }
    }

}

@media (max-width: 576px) {
    #main-home{

        #title {
            flex-direction: column;

            h1 {
                margin-bottom: 1rem;
            }

            button {
                margin-bottom: 1rem;
            }
        } 
    }
}

